@model ParteFrontProyectoDSW1.Contracts.Dtos.PagoDetalladoDto

<div>
    <p><strong>Usuario:</strong> @Model.Usuario</p>
    <p><strong>Producto:</strong> @Model.Producto</p>
    <p><strong>Cantidad:</strong> @Model.Cantidad</p>
    <p><strong>Monto:</strong> S/ @Model.Monto</p>
    <p><strong>Fecha:</strong> @Model.FechaPago</p>
    <p><strong>Estado:</strong> @Model.Estado</p>
</div>